ul{
    list-style: none;
}
li{
    display: inline-flex;
    text-align: center;
    padding: 10px;
}
@keyframes slideright{
    from{
        transform: translatex(-300px) ;
    }
    to{
        transform: translatex(0) ;
    }
}
.display-5,.lead{
    animation-name: slideright;
    animation-duration: 1s;
    animation-timing-function: ease-in ;
    animation-delay: 0s;
    animation-iteration-count: 1 ;
    animation-direction: normal;
    /* animation-fill-mode: ; */
}

.menu{
    row-gap: 10px;
}
.bac{
    background-image: url(ad.jpg) ;
}

.margin-top{
    margin-top: 100px;
}

@keyframes animate{
    from{
        transform: translatex(-300px) ;
    }
    to{
        transform: translatex(0) ;
    }
}
.animate1{
    animation-name: animate;
    animation-duration: 1s;
    animation-timing-function: ease-in ;
    animation-delay: 10s;
    animation-iteration-count: 1 ;
    animation-direction: normal;
    /* animation-fill-mode: ; */
}



@keyframes animation{
    from{
        transform: translatex(+300px) ;
    }
    to{
        transform: translatex(0) ;
    }
}
.animate2{
    animation-name: animation;
    animation-duration: 1s;
    animation-timing-function: ease-in ;
    animation-delay: 3s;
    animation-iteration-count: 1 ;
    animation-direction: normal;
    /* animation-fill-mode: ; */
}

h1{
    text-shadow: 0px 1px 0px #ccc,
    0px 2px 0px #ccc,
    0px 3px 0px #ccc,
    0px 4px 0px #ccc,
    0px 5px 0px #ccc,
    0px 6px 0px #ccc;
}
.navbar-brand{
    font-weight: 1000;
    font-size: 35px !important;
    text-shadow: 0px 1px 0px #b19d9d,
    0px 2px 0px #c4b2b2,
    0px 3px 0px #b8aaaa,
    0px 4px 0px #b4a1a1,
    0px 5px 0px #bdadad,
    0px 6px 0px #c0adad;
}